* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

#new {
    display: flex;
    justify-content: space-between;
}

.card {
    width: 200px;
    /* border: 1px solid red; */
}