/* RESET CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: "Poppins", sans-serif;
}

main {
    max-width: 1440px;
    margin: 0 auto;
    /* border: 1px solid red; */
}

/* HEADER STYLING */
header .banner-container {
    background-color: #F3F5F7;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 80px;
}

header .banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:black;
    font-size: 14px;
    width: 800px;
}

header .banner span a {
    color: #377DFF;
}

header .banner select {
    color: white;
    background-color: black;
    border: none;
    outline: none;
}

header .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
    height: 70px;
    border-bottom: 1px solid #ccc;
}

header .nav-links {
    display: flex;
    align-items: center;
    gap: 30px;
}

header .nav-link {
    font-weight: 100;
}

header a {
    color: black;
    text-decoration: none;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
}

header .search-cart {
    display: flex;
    align-items: center;
    gap: 20px;
    ;
}


header .search-bar>button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    ;
}


.relative{
    text-align: center;
    position: relative;
    bottom: 300px;
}

.page {
    font-size: 50px;
}

.shop02 {
    border: 1px solid red;
    display: flex;
    justify-content: space-between;

}
.shop03 {
    border: 1px solid green;
    display: flex;
}
.left-shop03{
    border: 1px solid black;
    width: 300px;
    /* height: 200px; */
}
.right-shop03{
    display: flex;
    gap: 50px;
    flex-direction: column;
    justify-content: space-between;
}
.bed{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.price{
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.aq {
   margin-top: 10px;
}